<launch>
    
    <!-- Lanzar el nodo turtlesim_node del paquete turtlesim -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <!-- Lanzar el script teleop.py del paquete Practicas_lab -->
    <node pkg="Practicas_lab" type="metrics_fer.py" name="can_robot_collector_node" output="screen"/>
</launch>
